/*CSS RESET*/
html,body,blockquote,code,pre {
  margin:0;
  padding:0;
}
button,fieldset,form,input,legend,textarea,select {
  margin:0;
  padding:0
}
fieldset {
  border:0;
}
a,a * {
  cursor:pointer;
}
div {margin:0;
  padding:0;
  background-color:transparent;
  text-align:left;
}
img {
  border:0;
}
applet,iframe,object {
  border:0;
  margin:0;
  padding:0;
}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label {
  cursor:pointer;
}
ul,li {list-style:none;
  margin:0;
  padding:0;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
} 
/*GENERAL POSITIONING*/
body {
  background-color: #819BA3;
  margin: 0;
  padding: 0;
}
.navbar-left {
  margin: 0;
  position: fixed;
  height: 100%;
  width: 300px;
  max-width: 300px;
  font-size: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  background-color: rgba(255,153,0, 0.7);
  border-right: 1px solid black;

}

.navbar{
  padding: 0px;
  margin: 0px;
  float: left;
  margin-top: 100px;
  position: absolute;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

li a {
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-decoration: none;
  color : black;
  border: none;
  margin:0;
  padding: 10px 0px 10px 40px;
}

li a:hover {
  color: white;
  background-color: #001f4d;
}

li a.current-tab::after {
  content: url(img/left-arrow.png);
  float: right;
  padding-right: 10px;
}

li a.current-tab:hover::after {
  content: url(img/left-arrow-hover.png);
  float: right;
  padding-right: 10px;
}

.social {
  display: inline-block;
  height: 30px;
  width: auto;
  float: left;
  margin-right: 10px;
}

.social-container {
  margin: auto;
  position: absolute;
  bottom: 20px;
  margin-left: 80px;
}
.content {
  position: relative;
  margin-left: 300px;
  padding-right: 30px;
  padding-left:30px;
  padding-top: 30px;
  min-width: 350px;
  box-sizing: border-box;
}

/*CONTENT*/
.hidden {
  display: none;
}

.toggle {
  display: inline-block;
  cursor: pointer;
}

.toggle:hover {
  box-shadow: 0 4px 4px 0px red;
}

.toggle::after {
  content:url(img/down-arrow.png);
}

.quote {
  font-family: Verdana;
}

.quote-author {
  text-align: end;
  padding-right: 20px;
}

.albert {
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  width: 290px;
}

.undecorated-link {
  text-decoration: none;
  color: #cc2900;
}

p.body-text{
  text-indent: 30px;
  line-height: 1.4em;
}

.section-header {
  color: black;
  font-family: Verdana;
  text-decoration: underline;
}

