body {
  background-color: #819BA3;
  margin: 0;
  padding: 0;
}
.navbar-left {
  position: fixed;
  height: 95%;
  width: 300px;
  max-width: 300px;
  border-right:2px solid black;
  font-size: 20px;
}

.navbar{
  left:;
  padding: 0px;
  margin: 0px;
  float: left;
  margin-top: 100px;
  position: absolute;
  height: 100%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}
li a {
  width: 60%;
  padding-left: 80px;
  padding-right: 87px;
  display: block;
  text-decoration: none;
  color : black;
  border: none;
  margin-left: -40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li a:hover {
  color: white;
  background-color: #001f4d;
}
