body {
	margin:0;
	padding: 0;
}

.navbar{
	position:fixed;
	display: block;
	border: 1px solid red;
	position:fixed;
	width: 25%;
	height: 100%;
	float: left;
	top:0;
	bottom:0;
	box-sizing: border-box;	
}

.content{
	position: relative;
	display: block;
	border: 1px dotted green;
	border-left: 2px solid black;
	width:75%;
	float:right;
	top:0;
	right:0;
	box-sizing:border-box;
}