html,body,blockquote,code,pre {
  margin:0;
  padding:0;
  font-family: "Open Sans", "Helvetica";
  background-color: #F6F6F6;
  height: 100%;
}
button,fieldset,form,input,legend,textarea,select {
  margin:0;
  padding:0
}
fieldset {
  border:0;
}
a,a * {
  cursor:pointer;
}
div {margin:0;
  padding:0;
  background-color:transparent;
  text-align:left;
}
img {
  border:0;
}
applet,iframe,object {
  border:0;
  margin:0;
  padding:0;
}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label {
  cursor:pointer;
}
ul,li {list-style:none;
  margin:0;
  padding:0;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
} 

.center-container {
  position: relative;
  max-width: 1050px;
  background-color: white;
  margin: 0px auto 0px;
  text-align: center;
  bottom: 0;
  top: 0;
  height: 100%;
}

.title {
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  padding: 0px 10px 0px 10px;
}

.title-description {
  font-size: 18px;
  padding: 0px 10px 0px 10px;

}

.content {
/*  padding: 0px;
*/}

a {
  text-decoration: none;
  cursor: pointer;
}
